<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nabla&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Expectativas</title>
</head>
<body>
    <header>
        <h1>Sobre Mim</h1>
    </header>
    
    <nav>
        <a href="index.html">Início</a>
        <a href="page1.html">Profissional</a>
        <a href="page2.html">Expectativas</a>
        <a href="page3.html">Lazer</a>
    </nav>
    
    <div class="container">
        <h2>Quem sou eu</h2>
        <p>Meu nome é Ian, gosto de futebol, academia e tecnologia.</p>
    
        <h2>O que gosto de fazer</h2>
        <p>Treinar, Jogar bola, Estudar e Evoluir.</p>
    </div>
</body>
</html>