<!DOCTYPE html>
<html>
<head>
    <title>Expectativas</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

<header>
    <h1>Minhas Expectativas</h1>
</header>

<nav>
    <a href="index.html">Início</a>
    <a href="page1.html">Profissional</a>
    <a href="page2.html">Expectativas</a>
    <a href="page3.html">Lazer</a>
</nav>

<div class="container">
    <h2>Hobbies</h2>
    <p>Treinar, Jogar bola, Estudar e Evoluir.</p>

    <h2>Objetivos</h2>
    <p>Ser melhor a cada dia, tanto fisicamente quanto mentalmente.</p>
</div>

</body>
</html>